<div class="container-fluid pipeline move-up">
  <div class="row">
    <div *ngIf="editing">
      <div class="col-xs-5 col-sm-7 col-md-9 gray-bg bot-pad">
        <input
          #inlineEditControl
          [required]="required"
          (blur)="onBlur($event)"
          [name]="value"
          [(ngModel)]="value"
          [type]="type"
          [placeholder]="label"
        /><br />
        <a class="text-muted">{{ project }}</a>
      </div>
    </div>
    <div *ngIf="!editing">
      <div class="col-xs-5 col-sm-7 col-md-9 gray-bg bot-pad">
        <h3>{{ value }}</h3>
        <a class="text-muted">{{ project }}</a>
      </div>

      <div class="col-sm-3  pull-right text-right">
        <br />
        <a
          class="btn btn-default"
          (click)="edit(value)"
          (focus)="edit(value)"
          tabindex="0"
          >Modify</a
        >
        <a class="btn btn-default">Brief</a>
        <a class="btn btn-default">Script</a>
      </div>
    </div>
  </div>
</div>
