<div class="navbar navbar-default navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button
        type="button"
        class="navbar-toggle"
        data-toggle="collapse"
        data-target="#navbar-ex-collapse"
      >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand"
        ><img height="20" alt="Brand" src="assets/img/logo-place.png"
      /></a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-ex-collapse">
      <ul class="nav navbar-nav navbar-left"></ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#">Projects</a>
        </li>
        <li>
          <a href="#">Manage Roles</a>
        </li>
        <li>
          <a href="#">Create new role</a>
        </li>
        <li>
          <a href="#">tintin@audioz.com</a>
        </li>
      </ul>
    </div>
  </div>
</div>
